<div id="toolbox">
	<p>
		<%= link_to "Return to Course", [:edit, @course] %>
	</p>
</div>


<h1>Edit Lecture</h1>


<div id="lecture-tabs" class="tabbed-panel">
	<ul>
		<li><a href="#lecture-basic">Basic Information</a></li>
		<li><a href="#lecture-links">Lecture Links</a></li>
	</ul>
	<div id="lecture-basic">
		<h2>Basic Information</h2>

		<%= render :partial => "form", :locals => { :lecture => @lecture } %>
	</div>

	<div id="lecture-links">
		<h2>Lecture Resource Links</h2>

		<% links = @lecture.lecture_links.position_order.to_a %>
		<% if links.empty? %>
			<p>
				No links have been added.
			</p>
		<% else %>
			<ul id="lecture-links-list">
				<% links.each do |lnk| %>
					<li class="lecture_link" id="lecturelink_<%= lnk.id %>">
						<%= render :partial => "lecture_links/form", :locals => { :lecture_link => lnk } %>
					</li>
				<% end %>
			</ul>
			<%= sortable_element("lecture-links-list", sort_course_lecture_lecture_links_path(@course, @lecture)) %>
		<% end %>

		<hr />

		<h3>New Link</h3>

		<%= render :partial => "lecture_links/form", :locals => { :lecture_link => @lecture.lecture_links.build } %>
	</div>
</div>
<script type="text/javascript">
	$(function(){$(".tabbed-panel").tabs()});
</script>
