<div id="toolbox">
	<p>
		<%= link_to "View Course", @course %>
	</p>
	<p>
		<%= link_to "Add Lecture", new_course_lecture_path(@course), :class => "button" %>
	</p>
	<p>
		<% if @course.published? %>
			<%= link_to "Unpublish", [:unpublish, @course], :method => :put %>
		<% else %>
			<%= link_to "Publish", [:publish, @course], :method => :put %>
		<% end %>
	</p>
	<p>
		<%= link_to "Delete Course", @course, :method => :delete, :confirm => "Are you sure you want to delete this course?" %>
	</p>
</div>

<h1>Edit Course</h1>

<h2>Basic Information</h2>
<%= render :partial => "form", :locals => { :course => @course } %>


<h2>Lectures</h2>
<% lectures = @course.lectures.position_order %>
<% if lectures.empty? %>
	<p>
		No lectures have been created.
	</p>
<% else %>
	<ul id="lecturelist">
		<% lectures.each do |lec| %>
			<li id="lecture_<%= lec.id %>"><%= link_to lec.name, [:edit, @course, lec] %></li>
		<% end %>
	</ul>
	<%= sortable_element("lecturelist", sort_course_lectures_path(@course)) %>
<% end %>

