<h1>Course: <%= @course.public_identifier %></h1>

<% if @course.editable_by?(current_user) %>
	<%= link_to "Edit", [:edit, @course] %>
<% end %>

<h1><%= @course.name %></h1>

<h2>Class Description</h2>
<div class="description">
	<%= texthtml(@course.description) %>
</div>

<h2>Available Lectures</h2>

<ol>
	<% @course.lectures.active.position_order.each do |lec| %>
		<li><%= link_to lec.name, [@course, lec] %></li>
	<% end %>
</ol>
