<!DOCTYPE html>
<html>
<head>
  <title>ESymposium - Learning Together Online</title>
  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><%= link_to "ESymposium", root_path %> - Learning Together Online (Beta)</h1>

		<nav>
			<ul>
				<li><%= link_to "Courses", courses_path %></li>
				<% if current_user %>
					<li><%= link_to "Seminars", seminars_path %></li>
					<li><%= link_to "My Account", account_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "Register/Sign In", account_path %></li>
				<% end %>
			</ul>
		</nav>
	</header>

	<div id="wrapper">
		<section id="notifications">
			<% unless notice.blank? %>
				<p class="notice"><%= notice %></p>
			<% end %>
			<% unless alert.blank? %>
				<p class="alert"><%= alert %></p>
			<% end %>
		</section>

		<section id="maincontent">
			<%= yield %>
		</section>

		<footer>

		</footer>
	</div>

	<footer>
		<p>
			Created and powered by <a target="_blank" href="http://www.bartlettpublishing.com/">Bartlett Publishing</a>
		</p>
	</footer>
</body>
</html>
