<!DOCTYPE html>
<html>
<head>
  <title>Idlearning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>ID Learning System</h1>

	<nav>
		<ul>
			<li><%= link_to "Courses", courses_path %></li>
			<% if current_user %>
				<li><%= link_to "Seminars", seminars_path %></li>
				<li><%= link_to "My Account", account_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Register/Sign In", account_path %></li>
			<% end %>
		</ul>
	</nav>
</header>

<section id="notifications">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</section>

<section id="maincontent">
	<%= yield %>
</section>

<footer>

</footer>

</body>
</html>
